{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        {{ void(this.registerCsrfMetaTags()) }}
        {{ Html.csrfMetaTags() | raw }}
        {{ void(this.registerMetaTag({'charset': app.charset}, 'charset')) }}
        {{ void(this.registerMetaTag({'name': 'viewport', 'content': 'width=device-width, initial-scale=1, shrink-to-fit=no'})) }}
        {{ void(this.registerMetaTag({'name': 'description', 'content': this.params['meta_description'] ?? ''})) }}
        {{ void(this.registerMetaTag({'name': 'keywords', 'content': this.params['meta_keywords'] ?? ''})) }}
        {{ void(this.registerLinkTag({'rel': 'icon', 'type': 'image/x-icon', 'href': Yii.getAlias('@web/favicon/favicon.ico')})) }}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{{ Html.encode(this.title) }} - 1paid</title>
        <link rel="icon" href="/img/favicon.png">
        {{ void(this.head) }}
    </head>
    <body>
        {{ void(this.beginBody()) }}
        <div class="layout w-screen">
            <!-- PAGE -->
            <div id="root"></div>
            {{ content | raw }}
            <!-- Chat window -->
            <!-- <div class="fa-wrapper bg-white/30 top-0 left-0 min-h-screen h-full w-full absolute z-20">
                <div class="fa flex flex-col items-center bg-white h-full w-full max-w-[440px] float-right right-0 relative">
                    <div class="fa-head relative w-full mb-[12px]">
                        <div class="pc-plate-container">
                            <div class="pc-plate bg-gradient-primary _shadow-primary py-1 px-6 3sm:px-2 3sm:py-[1px] rounded-b-[22px]">Быстрый доступ</div>
                        </div>
                        <div class="fa-btn-close flex-shrink-0 w-4 h-4 [&amp;_svg]:w-[100%] [&amp;_svg]:h-[100%] text-[#D6D9EA] cursor-pointer float-right mr-[30px] mt-[30px] 2md:block">
                            <img src="/img/icon-fa-btn-close.svg" alt="fa-btn-close">
                        </div>
                    </div>
                    <div class="tabs flex items-center font-primary-bold text-[14px] h-[54px] overflow-hidden flex-wrap text-[#8A98B3] p-[24px]">
                        <button class="tabs-tab block uppercase mr-4 last:mr-0">
                            <div class="tabs-tab-text text-black/90">Чат с поддержкой</div>
                            <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 bg-gradient-primary">
                            </div>
                        </button>
                        <button class="tabs-tab block uppercase mr-4 last:mr-0">
                            <div class="tabs-tab-text text-[#8A98B3]">мои диалоги</div>
                            <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 false">
                            </div>
                        </button>
                    </div>
                    <div class="fa-content flex-grow w-full overflow-hidden">
                        <div class="chat flex flex-col bg-white font-primary-med px-[22px] text-[#8FA0C3] w-full">
                            <div class="chat-head-wrapper flex justify-between items-center text-[14px] mb-[22px]">
                                <div class="chat-head flex items-center">
                                    <div class="chat-head-avatars flex">
                                        <div class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]">
                                            <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-head-user flex flex-col">
                                        <div class="chat-head-username flex font-secondary-bold text-md text-black">Support</div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-messages flex flex-col flex-grow justify-end text-[12px]">
                                <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                    <div class="chat-message-user flex self-end">
                                        <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                            <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message flex items-center max-w-[364px] chat-message-first false">
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                    <div class="chat-message-user flex self-end">
                                        <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                            <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                    <div class="chat-message-user flex self-end">
                                        <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                            <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message flex items-center max-w-[364px] chat-message-first chat-message-out">
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                            <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                        </div>
                                        <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                    </div>
                                </div>
                                <div class="chat-message flex items-center max-w-[364px] chat-message-last chat-message-out">
                                    <div class="chat-message-user flex self-end">
                                        <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                            <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-1.efb6cc72.png" alt="user">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                            <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                            <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                        </div>
                                        <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                    </div>
                                </div>
                            </div>
                            <div class="chat-form flex flex-col mt-[24px]">
                                <div class="rating flex justify-center items-center w-full mx-auto mb-[24px]">
                                    <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                        <img src="/img/icon-rating-star.svg" alt="rating-star">
                                    </span>
                                    <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                        <img src="/img/icon-rating-star.svg" alt="rating-star">
                                    </span>
                                    <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                        <img src="/img/icon-rating-star.svg" alt="rating-star">
                                    </span>
                                    <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                        <img src="/img/icon-rating-star.svg" alt="rating-star">
                                    </span>
                                    <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 ">
                                        <img src="/img/icon-rating-star.svg" alt="rating-star">
                                    </span>
                                </div>
                                <div class="chat-tech-types no-scrollbar flex items-center mx-auto mb-[24px] px-[12px] max-w-[100%] font-secondary-med text-[14px] overflow-x-scroll">
                                    <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Финансы</div>
                                    <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Сделка</div>
                                    <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Форум</div>
                                    <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full whitespace-nowrap cursor-pointer">Нашел ошибку</div>
                                    <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black py-[8px] px-[16px] rounded-full cursor-pointer">Другое</div>
                                </div>
                                <div class="chat-input flex items-center bg-white font-secondary-med p-[16px] border border-[#E4E9F4] rounded-[12px] w-full">
                                    <input class="chat-input-input text-black w-full h-full outline-none placeholder:text-[#BAC9E5] text-[14px]" placeholder="Вставьте содержимое товара...">
                                    <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[26px] h-[20px] mr-[24px]">
                                        <img src="/img/icon-chat-input-btn.svg" alt="chat-input-btn">
                                    </button>
                                    <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[w-22px] h-[20px]">
                                        <img src="/img/icon-chat-input-btn-2.svg" alt="chat-input-btn">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- End Chat window -->
            <footer class="footer flex justify-between items-center gap-8 text-sm py-10 px-20 z-[100] relative">
                <div class="footer-copy max-w-sm ">1paid.ru — Маркетплейс по продажам цифровых товаров. © 2023, Все права защищены.</div>
                <div class="footer-list flex  gap-x-8 gap-y-2.5 ">
                    <a class="hover:text-white duration-200" href="#">Пользовательское соглашение</a>
                    <a class="hover:text-white duration-200" href="#">Контакты</a>
                    <a class="hover:text-white duration-200" href="/faq">Частые вопросы</a>
                </div>
                <div class="footer-soc flex gap-5 ">
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-inst-grey.62109207.svg" alt="instagram">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-discord-grey.c77ff220.svg" alt="discrod">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-vk-grey.349c1aa3.svg" alt="vk">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-yt-grey.4134affa.svg" alt="youtube">
                    </a>
                </div>
            </footer>
        </div>
        {{ void(this.endBody()) }}
        <div id="modal" ></div>
    </body>
    <script type="module" src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script type="module" src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script type="module" src="/js/main.js"></script>
</html>
{{ void(this.endPage()) }}
