{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        {{ void(this.registerCsrfMetaTags()) }}
        {{ Html.csrfMetaTags() | raw }}
        {{ void(this.registerMetaTag({'charset': app.charset}, 'charset')) }}
        {{ void(this.registerMetaTag({'name': 'viewport', 'content': 'width=device-width, initial-scale=1, shrink-to-fit=no'})) }}
        {{ void(this.registerMetaTag({'name': 'description', 'content': this.params['meta_description'] ?? ''})) }}
        {{ void(this.registerMetaTag({'name': 'keywords', 'content': this.params['meta_keywords'] ?? ''})) }}
        {{ void(this.registerLinkTag({'rel': 'icon', 'type': 'image/x-icon', 'href': Yii.getAlias('@web/favicon/favicon.ico')})) }}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{{ Html.encode(this.title) }} - 1paid</title>
        <link rel="icon" href="/img/favicon.png">
        {{ void(this.head) }}
    </head>
    <body>
        {{ void(this.beginBody()) }}
        <div class="layout w-screen">
            <div class="layout-grid">
                <div id='left-menu' class="layout-sidebar menu"></div>
                <!--{% include 'left-menu.twig' %} -->
                <!-- PAGE -->
                <div class="layout-page _lf-row">
                    <div class="layout-lf">
                        <div class="lf _lf-row">
                            <div class="lf-h">
                                <div class="lf-bar">
                                    <div class="lf-inf">
                                        <div class="lf-inf-ind">
                                            <div class="lf-inf-ind-point"></div>
                                        </div>
                                        <div class="lf-inf-inner">
                                            <div class="lf-inf-ind-value">2 381</div>
                                            <div class="lf-inf-ind-label">Online</div>
                                        </div>
                                    </div>
                                    <div class="lf-toggle" title="Переключить вид">
                                        <img src="/img/icon-lf-toggle.svg" alt="icon-lf-toggle">
                                    </div>
                                </div>
                                <div class="lf-change">
                                    <label class="lf-change-item">
                                        <input type="radio" name="lf_type" value="1" checked>
                                        <div class="lf-change-btn">
                                            <div class="lf-change-icon">
                                                <img src="/img/icon-tsc-item-btn-2.svg" alt="lf-change-icon">
                                            </div>
                                        </div>
                                    </label>
                                    <label class="lf-change-item">
                                        <input type="radio" name="lf_type" value="1">
                                        <div class="lf-change-btn">
                                            <div class="lf-change-icon">
                                                <img src="/img/icon-lf-change-icon-2.svg" alt="lf-change-icon">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="lf-feed">
                                <div class="lf-feed-track">
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                               <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                    <div class="lf-item">
                                        <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                        <div class="lf-item-plate">
                                            <div class="lf-item-avatar">
                                                <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                            </div>
                                            <div class="lf-item-name" title="Santcese">Santcese</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header -->
                    <div id="header"></div>
                    <div class="layout-b pb-4 px-4 xl:px-9 min-w-0">
<!-- Raffle prizes -->
                        <div id='prsl' class="prsl my-6 rounded-md min-h-[100px] flex justify-between items-center">
                            <div class="swiper prsl-slider w-full h-full px-4">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="prsl-item flex items-center justify-between gap-4 flex-wrap 2md:flex-col 2md:gap-2">
                                            <div class="prsl-item-inf flex justify-center items-center gap-6">
                                                <div class="prsl-item-pic w-[180px] flex justify-center items-center ml-6">
                                                    <img class="w-full img-r" src="/img/raffle.161f3412.png" alt="raffle">
                                                </div>
                                                <div class="prsl-item-award flex items-center gap-2 sm:gap-1">
                                                    

                                                    <div class="prsl-item-award-inf">
                                                        <div class="prsl-item-award-title font-secondary-bold text-base text-white">Аккаунт Warface</div>
                                                        <div class="prsl-item-award-subtitle mt-1.5 font-secondary-bold text-sm text-white/40">25 Ранг</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="prsl-item-bar flex justify-center items-center gap-4 ">
                                                <button class="flex justify-center items-center prsl-item-btn  btn-primary rounded w-[180px] h-10 justify-center items-center flex font-secondary-med 0text-[15px] text-white" href="#">Присоединиться</button>
                                                <div class="timer flex items-center gap-1">
                                                    <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                        <div class="circle-progress" data-percent="80" data-measure="67" data-measure-640="44">
                                                            <img src="/img/icon-circle-progress.svg" alt="circle-progress">
                                                        </div>
                                                        <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                            <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">24</div>
                                                            <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">часа</div>
                                                        </div>
                                                    </div>
                                                    <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                        <div class="circle-progress mt-4" data-percent="60" data-measure="67" data-measure-640="44">
                                                            <img src="/img/icon-circle-progress-2.svg" alt="circle-progress">
                                                        </div>
                                                        <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                            <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">44</div>
                                                            <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">минуты</div>
                                                        </div>
                                                    </div>
                                                    <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                        <div class="circle-progress" data-percent="5" data-measure="67" data-measure-640="44">
                                                            <img src="/img/icon-circle-progress-3.svg" alt="circle-progress">
                                                        </div>
                                                        <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                            <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">05</div>
                                                            <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">секунд</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination prsl-pag">
                                <div class="prsl-pag-item"></div>
                                <div class="prsl-pag-item prsl-pag-item-active"></div>
                                <div class="prsl-pag-item"></div>
                            </div>
                            <div class="prsl-btn prsl-btn-prev">
                                <div class="btn-icon">
                                    <img src="/img/icon-btn-icon.svg" alt="btn-icon">
                                </div>
                            </div>
                            <div class="prsl-btn prsl-btn-next">
                                <div class="btn-icon">
                                    <img src="/img/icon-btn-icon-4.svg" alt="btn-icon">
                                </div>
                            </div>
                        </div>
<!-- End Raffle prizes -->
                        {{ content | raw }}
<!-- Select game -->
                        <!--div class="sh flex justify-between items-center gap-x-3 mt-10 mb-10">
                            <div class="img-hid">
                                <img src="/img/icon-btn-13.svg" alt="btn-icon">
                            </div>
                            <div class="sh-title flex flex-col justify-center items-center">
                                <h2 class="sh-title-text font-secondary-bold text-bold text-2xl text-black">Выбор игры</h2>
                                <div class="sh-title-line mt-2 rounded-full w-9 h-1 2md:mt-2 bg-gradient-primary">
                                </div>
                            </div>
                            <div class="sh-bar flex items-center gap-2 2md:w-full 2md:flex-row-reverse">
                                <div class="sh-search rounded-full h-[50px] px-6 max-w-[270px] w-full flex items-center bg-[#E8EAF7] 2md:max-w-none 2md:flex-grow 2md:h-10 2md:px-3">
                                    <button class="sh-search-icon bg-inherit flex-shrink-0 w-4 h-full [&amp;_svg]:w-full flex justify-center items-center text-[#B8BACF] duration-100 hover:text-black">
                                        <img src="/img/icon-sh-search-icon.svg" alt="sh-search-icon">
                                    </button>
                                    <input class="sh-search-input flex-grow ml-2.5 w-full h-full bg-transparent font-primary-med text-base text-black 2md:text-sm" placeholder="Поиск">
                                </div>
                            </div>
                        </div>
                        <div class="sgc mt-10 md:mt-5">
                            <div class="sgc-grid grid grid-cols-2 gap-[30px] 3xl:gap-5 2sm:grid-cols-1">
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-warface.9e636275.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-warface.75063d1d.png" alt="Warface">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Warface</h3>
                                    </div>
                                    <div class="gc-badges">
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                            <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Пин-коды</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Буст РМ</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Спецоперации</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Статистика</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Кредиты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Достижения</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Прочее</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-dota2.badc2a3f.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-dota2.c7d69ebf.png" alt="Dota 2">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Dota 2</h3>
                                    </div>
                                    <div class="gc-badges">
                                        <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                            <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                        </div>
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                            <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Привязки VHS</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Предметы</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст MMR</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Калибровка</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Отмыв ЛП</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги Dota+</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Боевой пропуск</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Отмыв ЛП</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Ещё...</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center ">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-csgo.6235c5a2.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-csgo.b5c3b06d.png" alt="Counter-Strike GO">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Counter-Strike GO</h3>
                                    </div>
                                    <div class="gc-badges">
                                        <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                            <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                        </div>
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                            <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Prime</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Скины</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-gta5.99ca99e5.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-gta5.a916b090.png" alt="GTA V RP">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">GTA V RP</h3>
                                    </div>
                                    <div class="gc-badges">
                                        <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                            <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                        </div>
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                            <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Деньги</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Ключи</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-fortnite.6a6e51b5.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-fortnite.2e93362c.png" alt="Fortnite">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Fortnite</h3>
                                    </div>
                                    <div class="gc-badges">
                                        <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                            <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                        </div>
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                            <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Предметы</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">B-баксы</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Донат</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="gc relative overflow-hidden rounded-lg p-5">
                                    <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                        <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-wot.f2291c2b.png" alt="picture">
                                    </div>
                                    <div class="gc-icon">
                                        <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                            <img class="w-full h-full object-cover" src="/img/icon-wot.78a9639e.png" alt="World of Tanks">
                                        </div>
                                    </div>
                                    <div class="gc-title">
                                        <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">World of Tanks</h3>
                                    </div>
                                    <div class="gc-badges">
                                        <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                            <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                        </div>
                                    </div>
                                    <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                        <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                           <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                        </div>
                                        <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                    </div>
                                    <div class="gc-tags-wrap">
                                        <div class="gc-tags">
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Бонус-коды</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Фарм серебра</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Выполнение ЛБЗ</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Золото</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Кланы</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Донат</a>
                                            <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                        </div>
                                    </div>
                                    <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                        <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                        <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                            <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="sgc-f flex justify-center mt-10 ">
                                <button class="sgc-btn-more rounded-full h-[60px] flex items-center justify-center px-12 bg-[#E3E9F5] duration-200 hover:bg-[#d3d7e0]">
                                    <div class="btn-text font-secondary-bold text-base text-[#B9C3D6]">Показать еще 25</div>
                                </button>
                            </div>
                        </div-->
<!-- End Select game -->
<!-- Scroll top and chat buttons -->
                        <div class="layout-b-f flex justify-between mt-6 mb-6">
                            <button class="layout-btn-totop scroll-to-top rounded-full w-16 h-16 flex items-center justify-center bg-[#D7DFF5] hover:bg-[#d0d8f3] shadow-2xl 3sm:w-11 3sm:h-11">
                                <div class=" flex items-center ">
                                    <img src="/img/icon-btn-icon-12.svg" alt="btn-icon">
                                </div>
                            </button>
                            <button class="layout-btn-openchat open-fast-chat rounded-full rounded-br-none w-[65px] h-[65px] flex items-center justify-center bg-gradient-primary shadow-2xl 3sm:w-11 3sm:h-11">
                                <div class="btn-icon text-[#BDC6E0] w-[22px] h-[19px] [&amp;_svg]:w-full [&amp;_svg]:h-full text-white">
                                    <img src="/img/icon-btn-icon-13.svg" alt="btn-icon">
                                </div>
                            </button>
                        </div>
<!-- End Scroll top and chat buttons -->
                    </div>
<!-- Chat window -->
                    <div class="fa-wrapper bg-white/30 top-0 left-0 min-h-screen h-full w-full absolute z-20">
                        <div class="fa flex flex-col items-center bg-white h-full w-full max-w-[440px] float-right right-0 relative">
                            <div class="fa-head relative w-full mb-[12px]">
                                <div class="pc-plate-container">
                                    <div class="pc-plate bg-gradient-primary _shadow-primary py-1 px-6 3sm:px-2 3sm:py-[1px] rounded-b-[22px]">Быстрый доступ</div>
                                </div>
                                <div class="fa-btn-close flex-shrink-0 w-4 h-4 [&amp;_svg]:w-[100%] [&amp;_svg]:h-[100%] text-[#D6D9EA] cursor-pointer float-right mr-[30px] mt-[30px] 2md:block">
                                    <img src="/img/icon-fa-btn-close.svg" alt="fa-btn-close">
                                </div>
                            </div>
                            <div class="tabs flex items-center font-primary-bold text-[14px] h-[54px] overflow-hidden flex-wrap text-[#8A98B3] p-[24px]">
                                <button class="tabs-tab block uppercase mr-4 last:mr-0">
                                    <div class="tabs-tab-text text-black/90">Чат с поддержкой</div>
                                    <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 bg-gradient-primary">
                                    </div>
                                </button>
                                <button class="tabs-tab block uppercase mr-4 last:mr-0">
                                    <div class="tabs-tab-text text-[#8A98B3]">мои диалоги</div>
                                    <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 false">
                                    </div>
                                </button>
                            </div>
                            <div class="fa-content flex-grow w-full overflow-hidden">
                                <div class="chat flex flex-col bg-white font-primary-med px-[22px] text-[#8FA0C3] w-full">
                                    <div class="chat-head-wrapper flex justify-between items-center text-[14px] mb-[22px]">
                                        <div class="chat-head flex items-center">
                                            <div class="chat-head-avatars flex">
                                                <div class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]">
                                                    <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                        <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-head-user flex flex-col">
                                                <div class="chat-head-username flex font-secondary-bold text-md text-black">Support</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-messages flex flex-col flex-grow justify-end text-[12px]">
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                            <div class="chat-message-user flex self-end">
                                                <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                    <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                        <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-first false">
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                            <div class="chat-message-user flex self-end">
                                                <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                    <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                        <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                            <div class="chat-message-user flex self-end">
                                                <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                    <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                        <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-first chat-message-out">
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                                    <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                                </div>
                                                <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                            </div>
                                        </div>
                                        <div class="chat-message flex items-center max-w-[364px] chat-message-last chat-message-out">
                                            <div class="chat-message-user flex self-end">
                                                <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                    <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                        <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-1.efb6cc72.png" alt="user">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                    <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                                    <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                                </div>
                                                <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-form flex flex-col mt-[24px]">
                                        <div class="rating flex justify-center items-center w-full mx-auto mb-[24px]">
                                            <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                <img src="/img/icon-rating-star.svg" alt="rating-star">
                                            </span>
                                            <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                <img src="/img/icon-rating-star.svg" alt="rating-star">
                                            </span>
                                            <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                <img src="/img/icon-rating-star.svg" alt="rating-star">
                                            </span>
                                            <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                <img src="/img/icon-rating-star.svg" alt="rating-star">
                                            </span>
                                            <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 ">
                                                <img src="/img/icon-rating-star.svg" alt="rating-star">
                                            </span>
                                        </div>
                                        <div class="chat-tech-types no-scrollbar flex items-center mx-auto mb-[24px] px-[12px] max-w-[100%] font-secondary-med text-[14px] overflow-x-scroll">
                                            <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Финансы</div>
                                            <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Сделка</div>
                                            <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Форум</div>
                                            <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full whitespace-nowrap cursor-pointer">Нашел ошибку</div>
                                            <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black py-[8px] px-[16px] rounded-full cursor-pointer">Другое</div>
                                        </div>
                                        <div class="chat-input flex items-center bg-white font-secondary-med p-[16px] border border-[#E4E9F4] rounded-[12px] w-full">
                                            <input class="chat-input-input text-black w-full h-full outline-none placeholder:text-[#BAC9E5] text-[14px]" placeholder="Вставьте содержимое товара...">
                                            <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[26px] h-[20px] mr-[24px]">
                                                <img src="/img/icon-chat-input-btn.svg" alt="chat-input-btn">
                                            </button>
                                            <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[w-22px] h-[20px]">
                                                <img src="/img/icon-chat-input-btn-2.svg" alt="chat-input-btn">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- End Chat window -->
                </div>
            </div>
            <footer class="footer flex justify-between items-center gap-8 text-sm py-10 px-20">
                <div class="footer-copy max-w-sm ">1paid.ru — Маркетплейс по продажам цифровых товаров. © 2023, Все права защищены.</div>
                <div class="footer-list flex  gap-x-8 gap-y-2.5 ">
                    <a class="hover:text-white duration-200" href="#">Пользовательское соглашение</a>
                    <a class="hover:text-white duration-200" href="#">Контакты</a>
                    <a class="hover:text-white duration-200" href="#">Частые вопросы</a>
                </div>
                <div class="footer-soc flex gap-5 ">
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-inst-grey.62109207.svg" alt="instagram">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-discord-grey.c77ff220.svg" alt="discrod">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-vk-grey.349c1aa3.svg" alt="vk">
                    </a>
                    <a class="shrink-0 leading-none duration-200" href="#">
                        <img class="footer-soc-icon" src="/img/icon-yt-grey.4134affa.svg" alt="youtube">
                    </a>
                </div>
            </footer>
        </div>
        {{ void(this.endBody()) }}
        <div id="modal" ></div>
    </body>
    <script type="module" src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script type="module" src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script type="module" src="/js/main.js"></script>
</html>
{{ void(this.endPage()) }}
